<div class="card text-center">
  <div class="card-body">
    <h1 class="card-title"><%= current_user.prenom %> <%= current_user.nom %></h1>
    <h2 class="card-text"><%= current_user.email %></h2>
		<%= link_to "Editer", edit_user_path, class: "btn btn-primary" %>
  </div>
  <div class="card-footer text-muted">
    Utilisteur N°<%= current_user.id %>
  </div>
</div>